.body--dark {
   .header {
      h3 {
         color: $colorClaro;
      }
   }
   .perfil {
      background-color: $colorClaro;
      &__nombre {
         color: $colorSecundarion;
      }
      &__titulo {
         color: $colorVariacion;
      }
      &__boton {
         background-color: $colorPrimario;
         color: $colorClaro;
         transition: all .2s;
      }
      &__boton:active {
         transform: scale(.9);
         background-color: rgb(17, 16, 16);
      }
   }
   aside {
      background-color: $colorPrimario;
      .articulo {
         @include asideTemplateDark;
      }
   }
}