@media (max-width: 1000px){
   .perfil {
      width: 100%;
   }
   aside {
      width: 100%;
      min-height: 300px;
      position: static;
      padding: 15px;
   }
}

@media (max-width: 600px) {
   aside .articulo {
      span {
         font-size: 1.4rem;
      }
      p {
         font-size: 1.7rem;
      }
   }
   .galeria {
      grid-template: 40px 1fr 1fr 1fr 1fr/ 1fr 1fr;
      grid-template-areas: 'titulo titulo'
                           'principal principal'
                           'principal principal'
                           'secundariaUno secundariaUno'
                           'secundariaDos secundariaTres';
      min-height: 595px;
   }
}